.modal-wrapper {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #f7f7f7;
  animation: appearance 1s;
}
.login-form-wrapper {
  position: relative;
  height: 100%;
  margin: auto;
  overflow: auto;
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}