.login-form-sign-up {
  position: relative;
  margin: 15px auto 0;
  max-width: 500px;
  height: 400px;
  background-color: white;
}
.login-form__login {
  position: relative;
  top: 60px;
  padding: 0 5px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.login-form__login > div {
  display: block;
  max-width: 320px;
  margin: 0 auto;
  padding: 5px 0;
}
.login-form__registration button {
  margin-top: 50px;
  width: 200px;
}
.login-form__login button {
  margin-top: 50px;
  width: 200px;
}
.login-form-sign-up > a > button:last-child {
  position: absolute;
  top: 0;
  right: -2px;
  padding: 5px 11px;
  margin: 0;
  width: 40px;
  min-width: 40px;
}
@media (max-height: 870px) {
  .login-form-sign-up {
    position: relative;
    top: 50%;
    margin: -200px auto 0;
  }
}
@media (max-width: 430px) {
  .login-form-sign-up {
    position: relative;
    top: 50%;
    margin: -200px auto 0;
  }
}
@media (max-height: 400px) {
  .login-form-sign-up {
    position: relative;
    top: 0;
    margin: 0 auto;
  }
}